@import "tailwindcss";

@theme inline {
  --font-main: var(--font-main);
  --font-logo: var(--font-logo);
}

*{
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
} 

body{
  background-color: white;
}