@import "tailwindcss";

@theme inline {
  --font-main: var(--font-main);
  --font-logo: var(--font-logo);
}

@theme {
  --breakpoint-mobile: 375px;
}


* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: white;
}

html,
body {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE / old Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /* Chrome / Safari / Edge */
}